<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="XDAGenTestSuite" verbose="1">
	<test name="Regression">
		<classes>
			<class name="gov.fda.nctr.xdagen.tests.QueriesIT$QueriesITFactory"/>
			<class name="gov.fda.nctr.xdagen.tests.TestXmlSchemas"/>
		</classes>
	</test>
</suite>